body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fGdyYWRpZW50JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  width: 700px;
  background-color: rgba(95, 158, 160, 0.598);
  padding: 10px;
  border-radius: 9px;
}

input[type="text"],
input[type="number"],
button {
  margin: 10px;
  padding: 5px;
}

button {
  cursor: pointer;
}

p {
  margin-top: 20px;
}
